<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="ServerName" value="http://146.88.27.16/reportserver"/>
		<add key="ReportPath" value="/Reports"/>
		<add key="UserName" value="administrator"/>
		<add key="Password" value="P@ssW0rd@123#"/>
	</appSettings>
	<system.web>
		<httpRuntime executionTimeout="10000" maxRequestLength="20480" />
		<compilation debug="true" targetFramework="4.0" />
		<pages enableEventValidation="false"/>
		<customErrors mode="Off"/>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>

	<connectionStrings>
		<add connectionString="Data Source=DESKTOP-TT519Q4\MSSQLSERVER01;Initial Catalog=db_ApprovalSystem;Persist Security Info=True;Trusted_Connection=True;Pooling=True;Min Pool Size=0;Max Pool Size=250;Connect Timeout=100000" name="Connection_str" />
	</connectionStrings>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="3000000000" />
			</requestFiltering>
		</security>
	</system.webServer>
	<system.transactions>
		<defaultSettings timeout="30"/>

	</system.transactions>
</configuration>
